body{
    font-family: "Poppins", sans-serif;
    background: #222831;
}
/* header part start */
.navbar{
    border-bottom: 1px solid rgb(238, 238, 238, 0.1);
}
nav .nav-link{
    color: #EEEEEE;
}
nav .navbar-nav{
    gap: 48px;
}
nav .nav-link{
    padding: 48px 0;
}
/* header part end */

/* banner part start */
#banner .container{
    margin-top: 172px;
}
#banner h1{
    color: #EEEEEE;
    font-size: 96px;
    font-weight: 700;
}

#banner span{
    color: #00ADB5;
}

#banner button{
    background: #00ADB5;
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 700;
    border: none;
    padding: 10px 32px;
    border-radius: 24px;
    margin-top: 48px;
    
}
#banner .downloadbtn{
    margin-left: 24px;
    background: #393E46;
}
/* banner part end */

/* about part start */
#about {
    background: url("./images/aboutbg.png") no-repeat center;
    background-size: cover;
}
#about h2{
    font-size: 64px;
    font-weight: 700;
    color: #EEEEEE;
}
#about h2 span{
    color: #00ADB5;
}
#about p{
    font-size: 18px;
    font-weight: 400;
    color: #EEEEEE;
}
/* banner part end */